body{
    background-color: #F5F0DC;
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

h2{
    background-color: #B3A742;
    background: -moz-linear-gradient(top, #9C8F67, #C7BE9B);
    background: -webkit-linear-gradient(top, #9C8F67, #C7BE9B);
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    color: #FFFFFF;
}

figure{
    background-color: white;
    width: 800px;
    text-align: center;
    padding: 15px;
    font-family: 'Comics Sans MS', cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
}

figure:hover{
    transform:rotate(-2deg);
}

#tb-nutrientes{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#tb-nutrientes th{
    background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(odd){
    background-color: #F8EAB3;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #FFFFFF;
}

nav ul li{
    display: inline;
    margin-right: 50px;
}

#topo{
    text-align: center;
}

nav{
    padding-left: 5px;
    text-align: center;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
